language: python
python:
  - "3.7"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install git+https://github.com/econ-ark/HARK.git@master
# command to run tests
script:
  - pytest --nbval-lax notebooks/
  
notifications:
  email:
    recipients:
      - seth.mridul+travis@gmail.com
      - shaunagm@gmail.com
      - ccarroll@llorracc.org
    on_success: never # default: change
    on_failure: always # default: always
