name: DemARK
channels:
  - conda-forge
dependencies:
  - python=3.10
  - ipywidgets
  - pandas-datareader
  - linearmodels
  - tqdm
  - nbval
  - matplotlib
  - statsmodels
  - scipy
  - pip
  - pip:
    - git+https://github.com/econ-ark/hark@master
