name: DemARK build on MacOS, Ubuntu and Windows

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 12
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4

      - name: Setup mamba environment to run notebooks
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-file: binder/environment.yml
          extra-specs: >-
            pytest
          cache-environment: true
      - name: Test with nbval
        shell: bash -l {0}
        run: |
          python -m pytest --nbval-lax --nbval-cell-timeout=12000 --ignore=notebooks/Chinese-Growth.ipynb --ignore=notebooks/Harmenberg-Aggregation.ipynb notebooks/
